body{
  background-color: rgb(95, 95, 141);
}
h1{
  color:white;
  font-style: italic;
  margin-top: 20px ;
  margin-bottom:30px;
}
.container{
  display:flex;
  flex-direction:column;
  justify-content: centre;
  align-items: center;
  height:200px;
  max-width: 500px;
  width:100%;
  margin:auto;
}
.container >form{
  width:70%;
  border:1px solid #dfdfdf;
  padding:40px;
  border-radius: 10px;
  background: #fff;

}
#btn{
  margin-top: 20px;
}
p{
  color:red;
}